---
layout: default
---

<div class="posts">
  {% for post in paginator.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="post-date">
        Escrito el {{ post.date | date: "%d/%m/%Y" }}
      </div>
      <div class="post-categories">
        En categorías: 
        {% for category in post.categories %}
        <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
        {% unless forloop.last %}&nbsp;{% endunless %}
        {% endfor %}
      </div>
      <br>

      {% if post.related_image %}
      <a href="{{ site.baseurl }}{{ post.url }}">
          <img class="thumbnail" src="{{ post.related_image }}" alt="{{ post.title }}">
      </a>
      {% endif %}
      <div class="excerpt">
        {{ post.excerpt }}
      </div>

      <br class="divider">
      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Leer más</a>
    </article>
  {% endfor %}

  <!-- pagination -->
  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Anterior</a>
    {% else %}
      <span>&laquo; Anterior</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <span>{{ page }}</span>
      {% elsif page == 1 %}
        <a href="/">{{ page }}</a>
      {% else %}
        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Siguiente &raquo;</a>
    {% else %}
      <span>Siguiente &raquo;</span>
    {% endif %}
  </div>
  {% endif %}
</div>